{% extends 'base.html' %}

{% block title %}about{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>About</h1>

<h2>Pomodoro Timer Project</h2>
<p><strong>By:</strong> Krish Shah and Bhakti Ramani</p>
<p><strong>Course:</strong> ECEN 5713 - Advanced Embedded Systems Development (AESD),<br>
University of Colorado Boulder</p>

<hr>

<p>This project implements a <strong>Pomodoro Timer</strong> designed to help users manage work and break sessions efficiently using the popular Pomodoro technique. 
The timer allows users to <strong>start</strong>, <strong>pause</strong>, and <strong>reset</strong> their work sessions, with different audio tones for each event to provide clear feedback.</p>

<p>The Pomodoro Timer is built to run on a <strong>Raspberry Pi</strong> environment using a custom <strong>Buildroot</strong> Linux image. It interacts with hardware components like an LCD display and a buzzer to give real-time updates and alerts to the user.</p>

<p>You can find the complete project repository here: 
<a href="https://github.com/cu-ecen-aeld/final-project-krish0706" target="_blank">
    GitHub Repository
    Checkout Overview Wiki page for further information. 
</a>
</p>
{% endblock %}