<!doctype html>
<title>{% block title %}{% endblock %} - Pomodoro Timer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
  <div class="info">
    <div id="info-title">Pomodoro Timer</div>
    <div class="info-links">
      <a href="{{ url_for('main.home')}}">Home</a><br>
      <a href="{{ url_for('main.about')}}">About</a>
    </div>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  
  {% block content %}{% endblock %}
</section>