* {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.info {
  text-align: left;
  font-weight: bolder;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

#mode {
  font-size: 1.5rem;
}

#timer {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.controls button {
  font-size: 1.5rem;
  margin: 0 0.25rem;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 5px;
}

.controls button:hover {
  background-color: rgba(255, 255, 255, 0);
}
